
/* General */

:root {
    --title-color:  #212121;;
    --text-color: #757575;
    --main-background-color: #2F303A;
    --blue-color-text: #2196F3;
    --black-color-text: #000000;
    --secondary-background-color: #E5E5E5;
    --team-background-color: #F5F4FA;
    --pure-white-color: #FFFFFF;
    --another-white-color: #ECECEC;
}




.body {
        font-family: 'Raleway', sans-serif;
        font-family: 'Roboto', sans-serif;
}

/* reset styles */
/* a {
    text-decoration-line: none;
} */

ul {
 list-style: none;
}

.link {
    text-decoration:  none;
    color: currentColor;
}

/* Header */

.header{ 
    background-color: var(--secondary-background-color);
}

.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--blue-color-text);
}

.header-logo-studio{
    color: var(--black-color-text);
}


.header-item:active,
.header-item:focus {
    color: var(--blue-color-text);
}

.header-item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--title-color);

}

.header-contacts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.header-contacts:hover,
.header-contacts:focus{
     color: var(--blue-color-text);
}


/* Main(Index.HTML)*/
/* Hero-Section */
.hero-section {
    background: var(--main-background-color);
}

.hero-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    color: var(--pure-white-color);

}
.hero-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    color: var(--pure-white-color);
    background: var(--blue-color-text);
    cursor: pointer;
}
/* Underbox */

.underbox {
    background: var(--secondary-background-color);
}

.underbox-list .underbox-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color: var(--title-color);
}

.underbox-list .underbox-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
/* Box Section */

.box-section {
    background: var(--secondary-background-color) ;
}


.box-section-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
/* Team Section */

.team-section {
    background: var(--team-background-color);
}
.team-section-h2title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team-section-list  .team-section-h3title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}


.team-section-list  .team-section-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/* Portfolio.HTML */
/* Main */
/* < !-- Portfolio Button List --> */

.btn-prtf {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.03em;
        background: var(--team-background-color);
        border-radius: 4px;
        color: var(--title-color);
        cursor: pointer;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
}

.btn-prtf:hover,
.btn-prtf:active {
    color: var(--pure-white-color);
    background: var(--blue-color-text);
}

 /* < !-- Portfolio Interective Images List --> */

.prtf-ii-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}


.prtf-ii-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color:var(--text-color);
}



/* Footer  */

.footer-section {
    background: var(--main-background-color);
}

.footer-logo {

        font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.2;
            letter-spacing: 0.03em;
            color: var(--blue-color-text);

}

.footer-logo-studio {
color: var(--pure-white-color);
}

.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--pure-white-color);
}

.footer-contacts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--blue-color-text);
}