
/* General */
.body {
        font-family: 'Raleway', sans-serif;
        font-family: 'Roboto', sans-serif;
}
a {
    text-decoration-line: none;
}

ul{
 list-style: none;
}

/* Header */

.header{ 
    background-color: #E5E5E5;;
}

.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.header-logo-studio{
    color: #000000;
}


.header-item:active,
.header-item:focus {
    color: #2196F3;
}

.header-item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #212121;

}

.header-contacts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-contacts:hover,
.header-contacts:focus{
     color: #2196F3;
}


/* Main(Index.HTML)*/
/* Hero-Section */
.hero-section {
    background: #2F303A;
}

.hero-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    color: #FFFFFF;

}
.hero-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    color: #FFFFFF;
    background: #2196F3;
    cursor: pointer;
}
/* Underbox */

.underbox {
    background: #E5E5E5;
}

.underbox-list .underbox-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color: #212121;
}

.underbox-list .underbox-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}
/* Box Section */

.box-section {
    background: #E5E5E5;
}


.box-section-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
/* Team Section */

.team-section {
    background: #F5F4FA;
}
.team-section-h2title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-section-list  .team-section-h3title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}


.team-section-list  .team-section-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Portfolio.HTML */
/* Main */
/* < !-- Portfolio Button List --> */

.btn-prtf {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.03em;
        background: #F5F4FA;
        border-radius: 4px;
        color: #212121;
        cursor: pointer;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
}

.btn-prtf:hover,
.btn-prtf:active {
    color: #FFFFFF;
    background: #2196F3;
}

 /* < !-- Portfolio Interective Images List --> */

.prtf-ii-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}


.prtf-ii-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;
}



/* Footer  */

.footer-section {
    background: #2F303A;
}

.footer-logo {

        font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.2;
            letter-spacing: 0.03em;
            color: #2196F3;

}

.footer-logo-studio {
color: #FFFFFF;
}

.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-contacts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover,
.footer-contacts:focus {
    color: #2196F3;
}